<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <% if(messages.succes_msg){ %>
        <p><%= messages.succes_msg %></p>
    <% } %>

    <% if(messages.error){ %>
        <p><%= messages.error %></p>
    <% } %>

    <h1>Login</h1>
    <form action="/user/login" method="post">
        <p>username</p>
        <input type="text" name="email">
        <p>password</p>
        <input type="password" name="password">
        <button type="submit">Login </button>
    </form>

</body>
</html>